<!--The content below is only a placeholder and can be replaced.-->

<div class="row-example" id="container">
  <div fxLayout="row">
    <h1>Welcome to {{ title }}!</h1>
  </div>
  <div fxLayout="row" 
       fxLayoutAlign="center center">
    <div fxFlexAlign="left"  fxFlex="20">
      <nav fxLayout="column" 
          fxLayoutGap="10px">
        <div fxFlex="100">
            <button mat-raised-button routerLink="/home" routerLinkActive="mat-primary" [routerLinkActiveOptions]="{exact: true}">Home</button>
        </div>
        <div fxFlex="100">
            <button mat-raised-button routerLink="/users" routerLinkActive="mat-primary">Users</button>
        </div>
        <div fxFlex="100">
            <button mat-raised-button routerLink="/lazy" routerLinkActive="mat-primary">Lazy Load</button>
        </div>
        <div fxFlex="100">
            <button mat-raised-button routerLink="/secret" routerLinkActive="mat-primary">Secret Place</button>
        </div>
      </nav>
    </div>
    <div fxFlex="80" [@routerTransition]="getState(o)">
      
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>